<div class="content">
   <div class="container-fluid">
      <div class="row">
         <table id="datatables" class="table table-striped table-no-bordered table-hover" style="widtd:100%;cellspacing:0">
            <tdead>
            	<tr>	
            	<th>Name</th>
            	<th>All User</th>
            	<th>Server</th>
            	</tr>
            </tdead>
            <tbody>
               	<tr>
                  <td style="text-transform: capitalize;">Bitbeeline</td>
                  <td>{{satoshi balance_user.totalBBL}} BBl</td>
                  <td>{{balance_server.bbl}} BBl</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Bitcoin</td>
                  <td>{{satoshi balance_user.totalBTC}} BTC</td>
                  <td>{{balance_server.btc}} BTC</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Bitcoin Gold</td>
                  <td>{{satoshi balance_user.totalBTG}} BTG</td>
                  <td>{{balance_server.btg}} BTG</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Bitcoin Cash</td>
                  <td>{{satoshi balance_user.totalBCH}} BCH</td>
                  <td>{{balance_server.bch}} BCH</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Litecoin</td>
                  <td>{{satoshi balance_user.totalLTC}} LTC</td>
                  <td>{{balance_server.ltc}} LTC</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Dash</td>
                  <td>{{satoshi balance_user.totalDASH}} DASH</td>
                  <td>{{balance_server.dash}} DASH</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Bitconnect</td>
                  <td>{{satoshi balance_user.totalBCC}} BCC</td>
                  <td>{{balance_server.bcc}} BCC</td>
                </tr>
                <tr>
                  <td style="text-transform: capitalize;">Verge</td>
                  <td>{{satoshi balance_user.totalXVG}} XVG</td>
                  <td>{{balance_server.xvg}} XVG</td>
               </tr>
               <tr>
                  <td style="text-transform: capitalize;">Zcoin</td>
                  <td>{{satoshi balance_user.totalXZC}} XZC</td>
                  <td>{{balance_server.xzc}} XZC</td>
               </tr>
            </tdead>
            

            </tbody>
        </table>
      </div>
   </div>
</div>