<div class="content ico_page">
   <div class="container-fluid">

   <div class="row" style="margin-top: 20px;">

      <div class="col-md-12 card">
        <!-- <h3 class="text-center">ICO Start</h3>
        <div class="text-center" style="width: 320px;
    margin: 0 auto;">
          <div class="countdown">
              <div class="countdown-time">
                 <ul class="clearfix" id="js-countDown">
                        <li class="item"><i class="day">00</i><span>days</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="hour">00</i><span>hours</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="minute">00</i><span>minutes</span></li>
                        <li class="blank">:</li>
                        <li class="item"><i class="second">00</i><span>seconds</span></li>
                        <li class="blank">:</li>
                        <li class="item milisecond"><i class="ms">00</i><span>milliseconds</span></li>
                    </ul>
              </div>
           </div>
        </div> -->
    <div class="div-price text-center" style="margin-top: 35px;">
        <!-- <b>Current price : </b>$<b id="price_ico_usd">{{price_ico}}0</b> -->
    </div>
    <div class="div-process">
        <div class="div-process-left">
            <div class="progress">
                <div id="process--ico" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ total_buy_percent }}%">{{ total_buy_percent }}%</div>
            </div>
        </div>
        <div class="div-process-right" style="width:100%; float:left">
            <span class="moneyFormat">Selled :</span><span> {{ total_buy}} / 2,300,000.00  BBL</span>
        </div>
         <div class="div-process-right" style="width:100%; float:left; margin-top:10px">
              <span>BBL team offers <b>5%</b> of refferal bonus. </br>The minimum daily  purchase is <b>100</b> BBL and the maximum daily purchase is <b>1,000</b> BBL.</span>
          </div>
    </div>
    <div class="clearfix"></div>
    <!-- <button  class="btn btn-primary center-block" data-toggle="collapse" data-target="#buyico"  style="margin-top:25px;">Comming Soon</button> -->

  
  {{#if_eq total_ico.status '1'}}
    <div id="buyico"  style="margin-top: 50px;">
      <div class="row">
        <div class="col-md-6">
         <div class="card">
            <h5 class="text-center">Account Balances</h5>  
         <div class="" style="margin:0px; ">
            <div  style="margin-top:10px; margin-bottom:10px; background:#fff; ">
              <table class="table table-market-trade" style="margin-bottom:0px;">
                  <tbody>
                      <tr class="BTC">
                          <td>Bitcoin (BTC)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.bitcoin_wallet.available}}</span>
                           </td>
                      </tr>
                      <tr class="BCH">
                          <td>Bitcoin Cash (BCH)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.bitcoincash_wallet.available}}</span>
                          </td>
    
                      </tr>
                      <tr class="BTG">
                          <td>Bitcoin Gold (BTG)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.bitcoingold_wallet.available}}</span>
                          </td>
                     </tr>
                     <tr class="DASH">
                          <td>Dash (DASH)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.dashcoin_wallet.available}}</span>
                          </td>
    
                     </tr>

                     <tr class="LTC">
                          <td>Litecoin (LTC)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.litecoin_wallet.available}}</span>
                          </td>
                     </tr>

                     <tr class="BCC">
                          <td>Bitconnect (BCC)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.bitconnect_wallet.available}}</span>
                          </td>
                     </tr>

                     <tr class="XVG">
                          <td>Verge (XVG)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.verge_wallet.available}}</span>
                          </td>
                     </tr>
                        
                      <tr class="XZC">
                          <td>ZCoin (XZC)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.zcoin_wallet.available}}</span>
                          </td>
                     </tr>

                     <tr class="ETH">
                          <td>Ethereum (ETH)</td>
                          <td class="text-right">
                              <span >{{satoshi user.balance.ethereum_wallet.available}}</span>
                          </td>
                     </tr>

                  </tbody>
              </table>
          </div>
         </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="clearfix"></div>
      <form method="post" accept-charset="utf-8" action="/account/ico/sumit-buy" id="frmICO" class="send-coin-form" autocomplete="off" novalidate="novalidate">
            
               <div class="row" style="margin-top: 40px;">
                 <h5 class="text-center">ICO Buying</h5> 
                  <div class="form-group col-md-12">
                     <label>Exchange way</label>
                     <div class="input-group" style="width: 100%">
                        <select class="form-control input-flyp " name="payment_method" id="method_payment">
                        <option value="BTC">Bitcoin ( BTC/BBL )</option>

                        <option value="BCH">Bitcoin Cash ( BCH/BBL )</option>
                        <option value="BTG">Bitcoin Gold ( BTG/BBL )</option>
                        <option value="DASH">Dash ( DASH/BBL )</option>
                        <option value="LTC">Litecoin ( LTC/BBL )</option>
                        <option value="BCC">Bitconnect ( BCC/BBL )</option>
                        <option value="XVG">Verge ( XVG/BBL )</option>
                        <option value="XZC">ZCoin ( XZC/BBL )</option>
                        <option value="ETH">Ethereum ( ETH/BBL )</option>
                      </select>
                     </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label>Amount BBL</label>
                     <div class="input-group" >
                        <input type="text" id="amount_coin" class="form-control input-flyp " name="amount_coin" placeholder="BBL" required="" autocomplete="off">
                        <div class="input-group-addon ng-binding">BBL</div>
                     </div>
                  </div>
                  <div class="form-group col-md-6">
                     <label>Estimated Value</label>
                     <div class="input-group">
                        <div class="input-group-addon addon-aprox invoiced ">~</div>
                        <input readonly="true" type="text" id="amount_btc" class="form-control input-flyp" name="amount_btc" placeholder="BTC" required="" autocomplete="off">
                        <div class="input-group-addon unit_payment">BTC</div>

                     </div>
                  </div>
               </div>
               <div class="text-center" id="capatcha">
                  <div style="transform:scale(0.77); transform-origin:0 0;" class="g-recaptcha" data-theme="light" data-sitekey="6LfTIDYUAAAAAIscAJ-qcY2EkCCZLfGK3O6FPnSj"></div>
               </div>
               <div class="alert alert alert-danger alert-dismissable" style="display: none;"><a class="close" data-dismiss="alert">×</a><span class="message"></span></div>
            
            <div class="text-center"><button type="submit" class="btn btn-social btn-fill btn-twitter frmWihtdrawBTC_Submit" data-type="coin">Confirm</button></div>
         </form>
    </div>
  </div>
</div>
{{/if_eq}} 

        <div class="clearfix"></div>
         <div class="content">
            <div class="clearfix"></div>
            <h4 class="text-left">Pending Orders </h4>
            <table style="margin-top:15px;" class="table_balance table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" >
               <thead>
                  <tr> 
                     <th>Date</th>
                     <th>Total amount</th>
                     <th>Equivalent</th>
                     
                     <th>Status</th>
                     <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each order_history}} 
                    {{#if_eq this.status '0'}}
                      <tr>
                        <td>{{prettifyDate this.date}}</td>
                        <td>{{satoshi this.amount_coin}} BBL</td>
                        <td>{{satoshi this.amount_payment}} {{ this.method_payment}}</td>
                        <td class="text-left"><span style="text-transform: capitalize; font-size: 12px; font-weight: 400; border-radius: 5px;" class="label label-default">Waiting</span></td>
                        <td>
                          {{#if_eq this.status '0'}}
                            <button class="remove_order_ico" data-id="{{this._id}}"> <i class="fa fa-times "></i> </button>
                          {{/if_eq}}
                        </td>
                      </tr>
                    {{/if_eq}}
                   {{/each}} 
               </tbody>
            </table>
            

            <div class="clearfix"></div>
            <h4 class="text-left">Completed Orders</h4>
            <table style="margin-top:15px;" class="table_balance table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" >
               <thead>
                  <tr> 
                     <th>Date</th>
                     <th>Total amount</th>
                     <th>Equivalent</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each order_history}} 
                    {{#if_eq this.status '1'}}
                     <tr>
                        <td>{{prettifyDate this.date}}</td>
                        <td>{{satoshi this.amount_coin}} BBL</td>
                        <td>{{satoshi this.amount_payment}} {{ this.method_payment}}</td>
                        <td  class="text-left"><span style="text-transform: capitalize; font-size: 12px; font-weight: 400; border-radius: 5px;" class="label label-success">Matching</span></td>
                      </tr>
                    {{/if_eq}}
                   {{/each}} 
               </tbody>
            </table>



            <div class="clearfix"></div>
            <h4 class="text-left">Cancel Orders</h4>
            <table style="margin-top:15px;" class="table_balance table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" >
               <thead>
                  <tr> 
                     <th>Date</th>
                     <th>Total amount</th>
                     <th>Equivalent</th>
                     <th>Status</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each order_history}} 
                    {{#if_eq this.status '3'}}
                     <tr>
                      
                        <td>{{prettifyDate this.date}}</td>
                        <td>{{satoshi this.amount_coin}} BBL</td>
                        <td>{{satoshi this.amount_payment}} {{ this.method_payment}}</td>
                        <td  class="text-left"><span style="text-transform: capitalize; font-size: 12px; font-weight: 400; border-radius: 5px;" class="label label-danger">Cancel</span></td>
                      </tr>
                    {{/if_eq}}
                   {{/each}} 
               
               </tbody>
            </table>

            {{#if_eq show_table_referall true}}

            
              <h4 class="text-left">Referal Bonus</h4>
              <table  class="table_balance table table-striped table-no-bordered table-hover" style="width:100%;cellspacing:0" >
                 <thead>
                    <tr> 
                       <th>Date</th>
                       <th>Total amount</th>
                       <th>Details</th>
                    </tr>
                 </thead>
                 <tbody>
                    {{#each user.balance.coin_wallet.history}} 
                       {{#if_eq this.type 'refferalico'}}
                       <tr>
                          <td>{{prettifyDate this.date}}</td>
                          <td>{{satoshi this.amount}} BBL</td>
                          <td>{{this.detail}} </td>
                       </tr>
                       {{/if_eq}} 
                     {{/each}} 
                 
                 </tbody>
              </table>
          
           {{/if_eq}} 
         </div>



      </div>
   </div>
</div>

